<div class="header-container">
    <div>
        <h1>Kapil Mehtani</h1>
        <h3>Frontend Developer</h3>
        <div>I am a Frontend developer creating great user experience for the users.</div>
        <div class="section-headers">
            <div class="header" [ngClass]="{'active': activeID=='ABOUT'}" (click)="scrolltosection('ABOUT')"><span></span>ABOUT</div>
            <div class="header" [ngClass]="{'active': activeID=='EXPERIENCE'}" (click)="scrolltosection('EXPERIENCE')"><span></span>EXPERIENCE</div>
            <!-- <div class="header">PROJECTS</div> -->
        </div>
    </div>
    <div class="contact-section">
        <!-- links and symbols -->
    </div>
</div>